body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    background-color: #27b047;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
input[type="submit"]{
    padding: 10px;
    margin-top: 10px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: none;
}
a{
    color: #007bff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}